@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  font-family: roboto;
}

hr {
  margin: 15px 0;
}

h1 {
  background-color: rgba(236, 236, 236, 0.705);
  border-radius: 3px;
  padding: 10px;
  font-size: medium;
  font-weight: 400;
  text-align: center;
  border-bottom: solid rgb(190, 190, 190);
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: medium;
  margin-top: 0;
}
h2 .button-add-book {
  text-align: center;
  color: white;
  background-color: rgb(28, 143, 104);
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 3px;
  border: transparent;
}

#formId {
  text-align: left;
}

#submitFormId {
  color: white;
  background-color: rgb(28, 143, 104);
  padding: 10px 45px;
  border: transparent;
  border-radius: 2px;
  margin-top: 15px;
}

.button-cancel-search {
  color: white;
  background-color: rgb(231, 69, 69);
  padding: 10px 56px;
  border: transparent;
  border-radius: 2px;
  margin-top: 15px;
}

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#content h2 {
  grid-column: span 3;
}

.title-of-book, .id-of-book {
  font-weight: bold;
}

.id-of-book {
  font-style: italic;
}

.author-of-book, .title-of-book {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
.author-of-book label, .title-of-book label {
  margin-bottom: 8px;
}

@media screen and (max-width: 900px) {
  #content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #content h2 {
    grid-column: span 2;
  }
}
@media screen and (max-width: 600px) {
  #content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #content h2 {
    grid-column: span 1;
  }
}
.card-container-result, .card-container-bookmarked {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  background-color: #d1cfcf;
  width: auto;
  padding: 25px;
  margin: 25px;
}
.card-container-result .img-container .img-of-book, .card-container-bookmarked .img-container .img-of-book {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-container-result .title-bookmark-container, .card-container-bookmarked .title-bookmark-container {
  display: flex;
  justify-content: space-between;
}
.card-container-result .title-bookmark-container .fa-bookmark, .card-container-result .title-bookmark-container .fa-trash, .card-container-bookmarked .title-bookmark-container .fa-bookmark, .card-container-bookmarked .title-bookmark-container .fa-trash {
  font-size: xx-large;
  color: rgb(28, 143, 104);
}
.card-container-result .title-bookmark-container .fa-bookmark:hover, .card-container-result .title-bookmark-container .fa-trash:hover, .card-container-bookmarked .title-bookmark-container .fa-bookmark:hover, .card-container-bookmarked .title-bookmark-container .fa-trash:hover {
  color: rgb(28, 128, 94);
}
.card-container-result .title-bookmark-container button, .card-container-bookmarked .title-bookmark-container button {
  border: transparent;
  background-color: #d1cfcf;
}
.card-container-result .description-of-book, .card-container-bookmarked .description-of-book {
  padding-bottom: 15px;
}/*# sourceMappingURL=index.css.map */