// @import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

h1 {
    color: yellow;
    background-color: blueviolet;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-container-result, .card-container-bookmarked{
    display: flex;
    flex-direction: column;
    border: solid black;
    height: 225px;
    width: 350px;

    .img-of-book {
        width: 150px;
        height: 150px;
    }

    .title-bookmark-container {
        display: flex;
        justify-content: space-between;

        .fa-bookmark {
            color: rgb(1, 71, 1);
        }
    }
 
}